<?xml version="1.0"?>

<model>
  <name>TurtleBot3 Custom Arena Square</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Erwan Renaudo</name>
    <email>erwan.renaudo@gmail.com</email>
  </author>

  <description>
    Customized world for TurtleBot3 with ROS symbol
  </description>
</model>
